<!-- <div class="container mt-4" *ngIf="category">
    <h2>Modifier la Catégorie</h2>
    <form (ngSubmit)="updateCategory()" class="mb-4">
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="category.name" name="name" placeholder="Nom de la catégorie" required>
            <button class="btn btn-primary" type="submit">Mettre à Jour</button>
        </div>
    </form>
</div>

<p *ngIf="!category" class="alert alert-info">Chargement de la catégorie...</p>
 -->